* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

/* Header */
header {
  background-color: #4f6ad5;
  color: #FFF;
  padding: 15px;
  text-align: center;
  border-bottom-left-radius: 7px ;
  border-bottom-right-radius: 7px;
  border-bottom: 3px solid #2A3870;
}

/* Grid Products */
.container {
  background-color: #eee;
  min-height: 60vh;
  padding: 50px;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
}

.product-image { 
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-1 {
  background-image: url('../img/tenis1.jpg');
}

#img-2 {
  background-image: url('../img/tenis2.jpg');
}

#img-3 {
  background-image: url('../img/tenis3.jpg');
}

#img-4 {
  background-image: url('../img/tenis4.jpg');
}

#img-5 {
  background-image: url('../img/tenis5.jpg');
}

#img-6 {
  background-image: url('../img/tenis6.jpg');
}

.card {
  width: 31%;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px; 
}

.card h3 {
  border-left: 5px solid #5D7DFC;
  color: #5D7DFC;
  font-size: 24px;
  text-align: center;
}

.card p {
 margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #5D7DFC;
  padding: 10px;
  color: #fff;
  border-radius: 7px;
  border-bottom: 3px solid #2A3870;
  border-right: 3px solid #2A3870 ;
  transition: .3s;
}

.btn:hover {
  background-color: #2A3870;
  border-bottom: 3px solid #2A3870;
  border-right: 3px solid #2A3870;
}

footer {
  background-color: #4f6ad5;
  color: #fff;
  border-top: 3px solid #2A3870;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  text-align: center;
  padding: 80px;
}